# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
/.idea/
/static/README.md
/README.md
/assets/README.md
/components/README.md
/layouts/README.md
/middleware/README.md
/pages/README.md
/plugins/README.md
/store/README.md
/package-lock.json
